.landing {
  height: 100dvh;
  padding: 0 56px;
  max-width: 1440px;
  width: 100%;
}

.content {
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 56px 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8vh;
}

.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.left {
  max-width: 539px;
}

.btns {
  display: flex;
  gap: 12px;
  margin-top: 48px;
}

.imgText {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

@media (max-width: 1024px) {
  .right {
    display: none;
  }
}

@media (max-width: 768px) {
  .landing {
    padding: 0 15px;
  }

  .header {
    padding: 35px 0;
  }

  .wrapper svg {
    height: auto;
  }
}