.btn {
  border-radius: 8px;
  padding: 12px 24px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.btn:hover {
  opacity: 0.7;
}

.dark {
  background-color: var(--dark-secondary);
}

.light {
  background-color: var(--light-secondary);
}
