:root {
  --font-family: "General Sans", sans-serif;
  --second-family: "Boska", sans-serif;

  --dark: #131a1b;
	--light: #e7f3f3;
	--brand: #cbf36e;
	--dark-secondary: #203b40;
	--light-secondary: #fff;
	--transparent: rgba(255, 255, 255, 0);
	--brand-secondary: #276e6e;
}

button {
  background: none;
  border: none;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}
